{"convex-overview.md" {:tags #{"clojure" "crdt" "fp" "convex" "decentralised" "blockchain" "lattice" "distributed" "dapps" "web3"}, :title "High Level Overview of the Convex Decentralised Network from a Clojure Developer's perspective", :date "2024-01-30", :file "convex-overview.md"}}